*{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    text-align: center;
    background-image: url(./img/lion.jpg);
    /* background-position-x:-40vw; */
    background-size: cover;
    background-repeat:no-repeat;

}
label h1{
    padding: 2rem;
    color: #ffffff;
}
input[id='todo'] {
    height: 3.5vh;
    width: 80vw;
    color: red;
    border-radius: 7px;
}
#button {
    height: 4vh;
    width: 10vw;
    border-radius: 5px;
    background-color: black;
    color: white;
}
#button:hover{
    background-color:red;
    color: white;
    font-weight: bold;
}
ol {
    width: 80%;
    list-style: none;
}
li {
    width: 60%;
    color:rgb(219, 222, 236);
    background-color: black;
    margin-bottom: 2px;
    text-align: left;
    padding-left: 5vw;
    padding-top: 4vh;
    padding-bottom: 3vh;
    border-radius: 8px;
}
li:hover{
    color: #201e1a;
    background-color: whitesmoke;
}
li input{
    margin-left: 3vw;
    margin-right: 3vw;
}
li button{
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    color: red;
    margin-right: 3vw;
    float: right;

}
li button:hover{
    color: white;
    background-color: black;
}
.todoList {
    top: 3vh;
    position: relative;
    left: 4vw;
    font-weight: bold;
    padding: 20px;
    /* text-align: center; */
}
h3 {
    color: rgb(232, 238, 232);
    /* position: fixed; */
    text-align: center;
    margin-top: 30px;
    margin-left: -5vw;
}
#edit {
    padding: 5px 10px;
    color:white;
    background:crimson;
    border-radius: 10px;
}
#edit:hover {
    color: white;
    background: black
}